<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" href="../static/css/buttons.dataTables.min.css" th:href="@{/css/buttons.dataTables.min.css}"/>
        <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css" th:href="@{/css/jquery.dataTables.min.css}"/>

        <script src="../static/js/jquery-3.7.0.js" th:src="@{/js/jquery-3.7.0.js}"></script>
        <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
        <script src="../static/js/dataTables.buttons.min.js" th:src="@{/js/dataTables.buttons.min.js}"></script>
        <script src="../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>

    </head>
    <body>
        <div class="row" style="padding-bottom: 10px; padding-top: 10px">
            <h3 style="text-align: center;">Liste des EC de l'UE : <span th:text="${ue.code}"></span>&nbsp; & &nbsp;<span th:text="${ue.libelle}"></span> </h3>
            <div style="text-align: center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#form_Ajouter_EC" >Ajouter EC</button>
            </div>
        </div>
        <!--Debut popup ajouter un EC -->
        <div data-dismiss="modal" style = ""...>
            <div class="modal fade" id="form_Ajouter_EC"> 
                <div class="modal-dialog" >
                    <div class="modal-content panel-success" >
                        <!--modal header-->
                        <div class="modal-header panel-haeding">
                            <button type="button" class="close" data-dismiss="modal">x</button>
                            <h4 class="modal-title"style="">Ajouter un EC</h4>

                        </div>
                        <!--modal body-->
                        <form th:action="@{ajouter_ec_ue}" method="post">
                            <div class="modal-body">
                                <input name="ue" th:value="${ue.id}"/><br><br>
                                <label for="code">Code</label><br>
                                <input type="text" id="code" name="code"><br><br>
                                <label for="libelle">Libelle</label><br>
                                <input type="text" id="libelle" name="libelle"><br><br>
                                <label for="cm">CM</label><br>
                                <input type="number" id="cm" name="cm"><br><br>
                                <label for="td">TD</label><br>
                                <input type="number" id="td" name="td"><br><br>
                                <label for="tp">TP</label><br>
                                <input type="number" id="tp" name="tp"><br><br>
                                <label for="tpe">TPE</label><br>
                                <input type="number" id="tpe" name="tpe"><br><br>  
                                <label for="coefficient">Coefficient</label><br>
                                <input type="number" id="coefficient" name="coefficient"><br>
                            </div>
                            <!-- modal footer -->
                            <div class="modal-footer">
                                
                                <div class="col-md-6 text-left">
                                    <input type="submit" class="btn btn-primary" value="Ajouter">
                                </div>
                                <div class="col-md-6 text-right">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--fin popup ajouter un UE-->


        <!-- Debut lister tout les EC-->
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="table_EC">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Libelle</th>
                    <th>CM</th>
                    <th>TD</th>
                    <th>TP</th>
                    <th>CM + TD/TP</th>
                    <th>TPE</th>
                    <th>VHT</th>
                    <th>Coefficient</th>
                    <th>Operations</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ec : ${listeDesEC}">
                    <td th:text="${ec.code}"></td>
                    <td th:text="${ec.libelle}"></td>
                    <td th:text="${ec.cm}"></td>
                    <td th:text="${ec.td}"></td>
                    <td th:text="${ec.tp}"></td> 
                    <td th:text="${ec.cm + ec.td + ec.tp}"></td>egh
                    <td th:text="${ec.tpe}"></td> 
                    <td th:text="${ec.cm+ec.td+ec.tp+ec.tpe}"></td> 
                    <td th:text="${ec.coefficient}"></td>
                    <td>
                        <button class="btn btn-info btn-sm" data-title="Edit" data-toggle="modal" th:attr="data-target='#form_Modifier_EC'+${ec.id}" >
                            Modifier           
                        </button>
                        
                        <button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" th:attr="data-target='#form_Supprimer_EC'+${ec.id}">
                            Supprimer           
                        </button>
                    </td>
               
        

                    <!-- Debut Popup Modifier EC -->

                    <div data-dismiss="modal">
                        <div class="modal fade" th:attr="id='form_Modifier_EC'+${ec.id}" >
                            <div class="modal-dialog" >
                                <div class="modal-content panel-info" >
                                    <!-- modal header -->
                                    <div class="modal-header panel-haeding" >
                                        <button type="button" class="close" data-dismiss="modal">x</button>
                                        <h4 class="modal-title" style="text-align: center;">Modifier EC</h4>
                                    </div>
                                    <!-- modal Body-->
                                    <form th:action="@{modifier_ec_ue}" method="post">
                                        <div class="modal-body">
                                            <div style="display: none">
                                                <input name="id" th:value="${ec.id}" />
                                                <input name="ue" th:value="${ue.id}" />
                                            </div>
                                            <div>
                                                <label for="code">Code</label><br>
                                                <input type="text" id="code" name="code"  th:value="${ec.code}"><br><br>
                                            </div>
                                        
                                            <div>
                                                <label for="libelle">Libelle</label><br>
                                                <input type="text" id="libelle" name="libelle" th:value="${ec.libelle}"><br><br>
                                            </div>
                                            <div>
                                                <label for="cm">CM</label><br>
                                                <input type="number" id="cm" name="cm" th:value="${ec.cm}"><br><br>
                                            </div>
                                            <div>
                                                <label for="td">TD</label><br>
                                                <input type="number" id="td" name="td" th:value="${ec.td}" ><br><br>
                                            </div>
                                            <div>
                                                <label for="tp">TP</label><br>
                                                <input type="number" id="tp" name="tp" th:value="${ec.tp}"><br><br>
                                            </div>
                                            <div>
                                                <label for="tpe">TPE</label><br>
                                                <input type="number" id="tpe" name="tpe"  th:value="${ec.tpe}"><br><br>
                                            </div>
                                            <div>
                                                <label for="coefficient">Coefficient</label><br>
                                                <input type="number" id="coefficient" name="coefficient" th:value="${ec.coefficient}"><br>
                                            </div>

                                        </div>
                                        <!-- modal footer-->
                                        <div class="modal-footer">
                                            <div class="col-md-6 text-left">
                                                <input type="submit" class="btn btn-primary" value="Modifier">
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Popup Modifier EC -->


                     <!-- Debut Popup Supprimer EC -->

                     <div data-dismiss="modal">
                        <div class="modal fade" th:attr="id='form_Supprimer_EC'+${ec.id}" >
                            <div class="modal-dialog" >
                                <div class="modal-content panel-info" >
                                    <!-- modal header -->
                                    <div class="modal-header panel-haeding" >
                                        <button type="button" class="close" data-dismiss="modal">x</button>
                                        <h4 class="modal-title" style="text-align: center;">Supprimer EC</h4>
                                    </div>
                                    <!-- modal Body-->
                                    <form th:action="@{supprimer_ec_ue}" method="post">
                                        <div class="modal-body">
                                            <div style="display: none">
                                                <input name="id" th:value="${ec.id}" />
                                                <input name="ue" th:value="${ue.id}" />
                                            </div>
                                            <div>
                                                <label for="code">Code</label><br>
                                                <input type="text" id="code" name="code"  th:value="${ec.code}"><br><br>
                                            </div>
                                            @Controller
    
                                            @AllArgsConstructor
                                            
                                            public class ModuleController {
                                            
                                            <div>
                                                <label for="libelle">Libelle</label><br>
                                                <input type="text" id="libelle" name="libelle" th:value="${ec.libelle}"><br><br>
                                            </div>
                                            <div>
                                                <label for="cm">CM</label><br>
                                                <input type="number" id="cm" name="cm" th:value="${ec.cm}"><br><br>
                                            </div>
                                            <div>
                                                <label for="td">TD</label><br>
                                                <input type="number" id="td" name="td" th:value="${ec.td}" ><br><br>
                                            </div>
                                            <div>
                                                <label for="tp">TP</label><br>
                                                <input type="number" id="tp" name="tp" th:value="${ec.tp}"><br><br>
                                            </div>
                                            <div>
                                                <label for="tpe">TPE</label><br>
                                                <input type="number" id="tpe" name="tpe"  th:value="${ec.tpe}"><br><br>
                                            </div>
                                            <div>
                                                <label for="coefficient">Coefficient</label><br>
                                                <input type="number" id="coefficient" name="coefficient" th:value="${ec.coefficient}"><br>
                                            </div>

                                        </div>
                                        <!-- modal footer-->
                                        <div class="modal-footer">
                                            <div class="col-md-6 text-left">
                                                <input type="submit" class="btn btn-danger" value="Supprimer">
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Popup Supprimer EC -->







                </tr>
                </tbody>
            </table>
        </div>




        <!-- Debut Datatable lister EC -->
        <script>
            $(document).ready(function() {
                $("#table_EC").DataTable({

                });
            })
        </script>
        <!-- Fin Datatable lister EC -->

    </body>
    
</html>